<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael King - Software Developer</title>
    <meta name="description" content="Michael King is an independently trained software developer specializing in C# .NET applications and Unity3D games.">
    <meta name="keywords" content="software development, developer, dev, C#, .NET, WPF, UWP, Unity3D, video game development">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/e44cca4d1b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="splash">
        <div id="splash-text">
            <div class="row splash-content">
                <h1 id="splash-title" class="animated fadeInUp delay-1s">Michael King</h1>
            </div>
            <div class="row splash-content">
                <h2 id="splash-subtitle" class="animated fadeInUp delay-2s">software developer </h2>
            </div>
        </div>
        <div id="splash-arrow" class="row justify-content-center">
            <div class="animated fadeIn delay-3s">
                <a href="#skills"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </div>

    <div id="skills" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>My Skillset</h2>
                </div>
            </div>
            <div id="skill-list" class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>Object Oriented Programming</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>Design Patterns</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>Git version control</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>Agile development</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>.NET Framework / Core</p>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-lg-3">
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>C# Programming</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>MySQL / SQLite</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>HTML / CSS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>Projects</h2>
                </div>
            </div>
            <div id="projects-list" class="row justify-content-center">
                <div class="project-item col-10 col-md-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-11">
                            <h3>Elder Scrolls Name Generator</h3>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                    </div>
                </div>
                <div class="project-item col-10 col-md-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-11">
                            <h3>Calculator</h3>
                            <p>A basic calculator app. Windows Form Application.</p>
                        </div>
                        <div class="project-icon col-1 d-flex align-items-center">
                            <a href="https://github.com/michaelking178/calculatorApp" target="_blank"><i class="fab fa-github" title="GitHub"></i></a>
                        </div>
                    </div>
                </div>
                <div class="project-item col-10 col-md-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-11">
                            <h3>Elder Scrolls Name Generator</h3>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                    </div>
                </div>
                <div class="project-item col-10 col-md-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-11">
                            <h3>Elder Scrolls Name Generator</h3>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>About Me</h2>
                </div>
            </div>
            <div id="about-content" class="row">
                <div class="col-12 col-md-3">
                    <img src="../img/poster shot.jpg">
                </div>
                <div id="about-text" class="col-12 col-md-9">
                    <p id="about-intro">
                        Hi, I'm Michael. I love writing architecturally sound and robust software using the latest standards and practices. Object-oriented programming, design patterns and agile development are some of
                        the concepts that sit at the top of my toolbox.
                    </p>
                    <p>
                        I've had a passion for computers and software since I was 7 years old when I discovered the MS-DOS Prompt in my family's Pentium 486 PC running Windows 95. Shortly thereafter I learned
                        that I could even swap parts of the <em>physical computer</em> to make it run better! RAM upgrades, GPUs and 3D accelerators flowed like honey.
                    </p>
                    <p>
                        I wrote my first line of code in a grade 10 computer class, using Visual Basic to create my first application: a "Hello World" console line (of course). I would later create hang-man games and
                        calculators, and would discover during that class a passion for writing software.
                    </p>
                    <p>
                        After high school I completed a bachelor of arts degree with a major in music. Although coding and conducting may seem like unrelated fields, I found the mathematics of music theory to be
                        fascinating. I spent my days in music classes while learning C# and creating games in the Unity3D game engine on evenings and weekends.
                    </p>
                    <p>
                        I have since moved from my home on the Canadian prairies to Montreal and expanded my software development experience from Unity games to WPF and UWP applications using the .NET Framework.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <form id="contact-form" class="row justify-content-center">
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <input type="text" class="form-control" id="contact-name" placeholder="Name">
                </div>
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                </div>
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <textarea class="form-control" id="contact-message" rows="5" placeholder="Your message here..."></textarea>
                </div>
                <button type="submit" class="btn btn-dark col-10 col-lg-8">Submit</button>
            </form>
        </div>
    </div>

    <div id="footer">
        <div class="container footer-content">
            <div class="row justify-content-center">
                <p>©2019 Michael King or respective owners. All rights reserved.</p>
            </div>
            <div class="row justify-content-center">
                <i class="fab fa-linkedin"></i>
                <a href="https://www.instagram.com/michaelking178/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>