<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Michael King - Software Developer</title>
    <meta name="description" content="Michael King is an independently trained software developer specializing in C# .NET applications and Unity3D games.">
    <meta name="keywords" content="software development, developer, dev, C#, .NET, WPF, UWP, Unity3D, video game development">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <script src="https://kit.fontawesome.com/e44cca4d1b.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="splash">
        <div id="splash-text">
            <div class="row splash-content">
                <h1 id="splash-title" class="animated fadeInUp delay-1s">Michael King</h1>
            </div>
            <div class="row splash-content">
                <h2 id="splash-subtitle" class="animated fadeInUp delay-2s">software developer </h2>
            </div>
        </div>
        <div id="splash-arrow" class="row justify-content-center">
            <div class="animated fadeIn delay-3s">
                <a href="#skills"><i class="fas fa-chevron-down"></i></a>
            </div>
        </div>
    </div>

    <div id="skills" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>My Skillset</h2>
                </div>
            </div>
            <div id="skill-list" class="row justify-content-center">
                <div class="col-10 col-md-6">
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>C# Programming</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>.NET Framework / Core</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>Object Oriented Design</p>
                    </div>
                </div>
                <div class="col-10 col-md-6 col-lg-3">
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>JavaScript</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>MySQL / SQLite</p>
                    </div>
                    <div class="skill-item">
                        <i class="fas fa-circle"></i>
                        <p>HTML / CSS</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="projects" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>Projects</h2>
                </div>
            </div>
            <div id="projects-list" class="row">
                <div class="project-item col-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-10">
                            <h4>Elder Scrolls Name Generator</h4>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="far fa-arrow-alt-circle-down" title="Download"></i>
                        </div>
                    </div>
                </div>
                <div class="project-item col-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-10">
                            <h4>Elder Scrolls Name Generator</h4>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="far fa-arrow-alt-circle-down" title="Download"></i>
                        </div>
                    </div>
                </div>
                <div class="project-item col-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-10">
                            <h4>Elder Scrolls Name Generator</h4>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="far fa-arrow-alt-circle-down" title="Download"></i>
                        </div>
                    </div>
                </div>
                <div class="project-item col-12">
                    <div class="row">
                        <div class="project-item-description col-12 col-md-10">
                            <h4>Elder Scrolls Name Generator</h4>
                            <p>Randomly generates a first and last name based on the race and gender selected. Inspired by the Elder Scrolls video games.</p>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="fab fa-github" title="GitHub"></i>
                        </div>
                        <div class="project-icon col-2 col-md-1 d-flex align-items-center">
                            <i class="far fa-arrow-alt-circle-down" title="Download"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>About Me</h2>
                </div>
            </div>
            <div id="about-content" class="row">
                <div class="col-12 col-md-3">
                    <img src="../img/poster shot.jpg">
                </div>
                <div class="col-12 col-md-9">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Aliquet enim tortor at auctor. Arcu cursus euismod quis viverra. Felis eget velit aliquet sagittis. Rhoncus urna neque viverra justo nec ultrices dui. Lacus vestibulum sed arcu non odio euismod lacinia at. Nam libero justo laoreet sit amet. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est. Amet luctus venenatis lectus magna fringilla. Ut consequat semper viverra nam libero justo. Malesuada bibendum arcu vitae elementum. Velit sed ullamcorper morbi tincidunt. Porta nibh venenatis cras sed felis eget velit aliquet. Sit amet consectetur adipiscing elit pellentesque habitant. Leo integer malesuada nunc vel risus commodo viverra maecenas accumsan. Placerat duis ultricies lacus sed turpis tincidunt. A erat nam at lectus urna duis convallis convallis tellus. Tempor commodo ullamcorper a lacus. Placerat vestibulum lectus mauris ultrices eros in.</p>
                    <p>Facilisi nullam vehicula ipsum a arcu. Pellentesque eu tincidunt tortor aliquam nulla. Erat nam at lectus urna duis convallis. Ut lectus arcu bibendum at varius vel pharetra vel turpis. Vulputate dignissim suspendisse in est ante in. Ultricies leo integer malesuada nunc vel risus commodo viverra. Iaculis nunc sed augue lacus viverra vitae congue eu consequat. Convallis posuere morbi leo urna molestie at elementum. Est placerat in egestas erat imperdiet sed euismod nisi porta. Hac habitasse platea dictumst quisque sagittis.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="contact" class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-title">
                    <h2>Contact Me</h2>
                </div>
            </div>
            <form id="contact-form" class="row justify-content-center">
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <input type="text" class="form-control" id="contact-name" placeholder="Name">
                </div>
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <input type="email" class="form-control" id="contact-email" placeholder="Email">
                </div>
                <div class="form-group col-12 col-md-10 col-lg-8">
                    <textarea class="form-control" id="contact-message" rows="5" placeholder="Your message here..."></textarea>
                </div>
                <button type="submit" class="btn btn-dark col-12 col-md-10 col-lg-8">Submit</button>
            </form>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>